/* The code below centers the text of all h1's on the page. */
h1 {
    text-align:center;
     color: #1b1b1b;
}

/* The code below centers all images on the page and gives them a width of 400px. */
.video {
  display: flex;
  justify-content: left;
}

/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
     color: #1b1b1b;
}
h3 {
     color: #1b1b1b;
}

p{
     color: #37515f;
}

pre {
    color: #1b1b1b;
}
/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border: 5px;
    border-style: solid;
    color: #2a9fd6;
    margin:5px;
    padding: 5px;
}
.big-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 5px;
}

.text-box {
    display: flex;
    flex: 1 1 45%;
    flex-wrap: nowrap;
    border: 5px;
}

.video-box {
    display: flex;
    flex: 1 1 45%;

}

pre {
    justify-content: center;
    font-size: 30px;
}

.bottom-text {
    justify-content: center;
    color: #003153;
}

body {
    background-color: #e6f1f8;
}